on: issue_comment

# https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#issue_comment
# https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#issue_comment


jobs:
  pr_commented:
    name: PR comment
    # https://docs.github.com/en/graphql/reference/enums#commentauthorassociation
    # (and https://docs.github.com/en/rest/reference/issues#comments)
    if: ${{ github.event.issue.pull_request && (github.event.comment.author_association == 'OWNER' || github.event.comment.author_association == 'COLLABORATOR') }}
    runs-on: ubuntu-latest
    steps:
      # TODO https://docs.github.com/en/actions/advanced-guides/using-github-cli-in-workflows
      - run: |
          echo "A comment on PR $NUMBER for $REPO"
          echo 
          echo "gh version"
          gh --version
          echo
          echo "get headRef"
          ref=$(gh pr view $NUMBER --repo $REPO --json headRefName | jq -r .headRefName)
          echo Ref $ref
        env:
          NUMBER: ${{ github.event.issue.number }}
          ISSUE_URL: ${{ github.event.issue.url }}
          REPO: ${{ github.event.repository.full_name }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
